@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main {
	font-family: 'Quicksand', serif;
	font-optical-sizing: auto;
}

/* constant styles */
.orange {
	color: #fea301;
}
.blue {
	color: #01acfd;
}

.skyBlue {
	color: #05d4df;
}

.purple {
	color: #5d58ef;
}
.purple2 {
	color: #8700ff;
}

.bg-orange {
	background-color: #fea301;
}

.bg-black {
	background-color: black;
}

.bg-olive {
	background-color: #95b226;
}

.bg-secondary-blue {
	background-color: #5d58f0;
}

.bg-blue-gradiant {
	background: linear-gradient(#d4ebec, white);
}

.bg-orange-gradiant {
	background: linear-gradient(#eee4d0, white);
}

.bg-purple-gradiant {
	background: linear-gradient(#dcdbf3, white);
}

.d-none {
	display: none;
}

.btn {
	padding: 0.5rem 2rem;
	border: none;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid transparent;
}

.btn:active {
	border: 2px solid white;
}

header {
	padding-inline: 2rem;
}
section {
	padding-inline: 2rem;
}

/* navbar */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 1rem;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.3rem;
}

.logo__img {
	width: 40px;
	object-fit: contain;
}

nav {
	display: flex;
	gap: 1rem;
}

nav > a {
	outline: none;
	text-decoration: none;
	font-weight: bold;
}

.header__hambargerIcon {
	border: none;
	background: none;
	display: none;
	color: black;
}

/* hero  */

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hero__left {
	display: flex;
	flex-direction: column;
	justify-content: start;
	text-align: left;
	gap: 1rem;
}

.hero__left > h1 {
	font-size: 3rem;
}

.hero__left > p {
	width: 75%;
	font-weight: 500;
}

.hero-image-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.hero-image-container > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* curriculam */

.curriculam {
	margin-block: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	background: url('./assets/bg.png');
	background-repeat: no-repeat;
	background-position: center;
}

.curriculam__title {
	text-align: center;
	font-size: 2rem;
	margin-block: 2rem;
}

.curriculam__cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	gap: 1rem;
}
.curriculam__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	padding: 3rem 1rem;
	border-radius: 10px;
}

.curriculam__card__description {
	font-size: small;
	text-align: center;
	color: grey;
	padding: 1rem;
}

.curriculam__card__btn > button {
	border: none;
	background: none;
	font-weight: bold;
	font-size: small;
}

.curriculam__nextPagebtn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}
.curriculam__nextPagebtn > button {
	padding: 0.8rem;
	border-radius: 50%;
	border: none;
	background: #fea301;
	color: white;
}

.curriculam__nextPagebtn > button:active {
	opacity: 0.2;
}

/* stories section */

.stories {
	background: url('./assets/bg.png'), linear-gradient(white, #f8deb2);
	margin-top: 4rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-position: top;
}

.stories__title {
	text-align: center;
}
.stories__container {
	padding-block: 3rem;
	width: 100%;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
}

.stories__left {
	display: flex;
}

.lg__card {
	background-color: white;
	width: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;
}

.lg__card__title {
	padding-inline: 2rem;
	width: 80%;
}
.lg__card__description {
	padding: 1rem 2rem;
	font-size: small;
	color: rgb(73, 72, 72);
	width: 80%;
	font-weight: 600;
}

.lg__card__img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
}

.lg__card__img > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.lg__card__btn {
	position: relative;
	margin-bottom: 50px;
}

.lg__card__btn > button {
	position: absolute;
	background: #3cd8e8;
	border: none;
	color: white;
	padding: 0.8rem 1rem;
	border-radius: 30px;
	left: 2rem;
	top: -22px;
}

.stories__right {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1rem;
}

.normal__card {
	border-radius: 10px;
	background-color: white;
	padding-bottom: 1rem;
	display: flex;
	flex-direction: column;
}
.normal__card__img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
}

.normal__card__img > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.normal__card__btn {
	position: relative;
	margin-bottom: 2rem;
}
.normal__card__btn > button {
	position: absolute;
	border: none;
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 30px;
	left: 2rem;
	top: -20px;
}

.normal__card__description {
	padding-inline: 2rem;
	font-size: small;
	font-weight: bold;
}

.stories__btn {
	display: flex;
	justify-content: center;
}

/* footer section */

.footer {
	background-color: #01acfd;
	color: white;
	display: flex;
	padding: 5rem;
	justify-content: center;
}

.footer__left {
	width: 33%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.footer__logo > img {
	background: white;
	margin-right: 0.8rem;
	border-radius: 20px;
}

.footer__left__description {
	font-weight: 400;
	font-size: small;
}

.footer__logo {
	display: flex;
	justify-content: start;
	align-items: center;
}

.footer__center {
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

._center__title {
	font-weight: bold;
}
.footer__center__navigation > ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.footer_center__title {
	font-size: large;
	font-weight: bold;
}

.footer__right {
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
}

.footer__right__logos > img {
	width: 30px;
}

.marque{
	color: #01acfd;
	margin-inline: 2rem;
}


/* for mobile responsiveness */
@media screen and (max-width: 425px) {
	section {
		padding-inline: 0.2rem;
	}

	/* navbar style  */
	nav {
		display: none;
	}

	header {
		border-bottom: 1px solid #fea301;
		padding: 1rem;
	}

	.header__btn {
		display: none;
	}

	.header__hambargerIcon {
		display: block;
	}
	.header__hambargerIcon:active {
		color: #fea301;
	}

	/* hero section */

	.hero {
		flex-direction: column-reverse;
		padding: 1rem;
		height: 100%;
	}

	.hero__left {
		justify-content: center;
		align-items: center;
	}

	.hero__left > h1 {
		font-size: 1.5rem;
		text-align: center;
	}
	.hero__left > p {
		text-align: center;
		width: 100%;
	}
	.hero__left > button {
		justify-content: center;
	}

	/* curriculam section */

	.curriculam {
		display: block;
	}

	.curriculam__title {
		margin-bottom: 0px;
	}

	.curriculam__cards {
		display: flex;
		flex-direction: column;
		padding: 0.6rem;
		gap: 0.2rem;
	}

	.curriculam__card {
		margin-block: 0.5rem;
		border: 1px solid whitesmoke;
	}

	.curriculam__nextPagebtn {
		display: none;
	}

	/* stories section  */

	.stories {
		flex-direction: column;
		padding: 0;
		margin: 0;
	}

	.stories__left {
		display: none;
	}

	.stories__right {
		padding-inline: 0.5rem;
	}

	.normal__card__btn > button {
		position: absolute;
		border: none;
		color: white;
		padding: 0.4rem 0.8rem;
		border-radius: 30px;
		left: 0.8rem;
		top: -14px;
		font-size: xx-small;
	}

	.normal__card__description {
		padding: 0px 1rem;
		font-size: x-small;
	}

	.stories__container {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.stories__btn > button {
		margin-block: 1rem;
		border-radius: 15px;
	}

	/* footer section */
	
	.footer {
		flex-direction: column;
		gap: 2rem;
		padding: 3rem 1rem;
	}

	.footer__right {
		width: 100%;
	}
	.footer__center {
		width: 100%;
		justify-content: start;
		align-items: start;
	}
	.footer__left {
		width: 100%;
	}
}
